<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <style>
        .btn {
            padding: 8px 15px;
            background-color: #8db3d9;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            display: inline-block;
        }
    </style>
</head>
<body>
    <header>
        {% block pagename %}

        {% endblock %}
    </header>

    <menu>
        {% block menu %}
        <p>
            <a href="" class="btn">Магазин</a>
        </p>

        <p>
            <a href="/games" class="btn">Игры</a>
        </p>

        <p>
            <a href="/cart" class="btn">Корзина</a>
        </p>
        {% endblock %}
    </menu>

    <main>
        {% block context %}

        {% endblock %}
    </main>


</body>
</html>